@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <div class="d-grid gop-2 d-md-flex justify-content-md-start">
                                                    @* Recurso do asp.net razor /está falando que asp-controller vai ir na controler contato e asp-action vai na ação criar*@
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar contato</a>
    </div>
        <br/>
    @if (TempData["MensagemSucesso"] != null)
    {
          <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
          </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
          <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>  
          @TempData["MensagemErro"]
        </div>
    }
    <br/>
      

    <h1 class="display-4">Agenda de Contatos  </h1>

 

 <table class="table table-striped display" id="tabela-projeto" >
   
      <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Celular</th>
      <th scope="col"></th>
     </tr>
    </thead>
       <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td><i class="bi bi-person-fill"></i> @contato.Name</td>
                    <td><i class="bi bi-envelope"></i> @contato.Email</td>
                    <td><i class="bi bi-telephone-fill"></i> @contato.Celular</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar"><i class="bi bi-pencil"></i></a>
                            <a role="button" class="btn btn-danger"asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Apagar"><i class="bi bi-trash"></i></a>
                        </div>
                        <td/>
                </tr>

            }
        } 
 
       </tbody>

    </table>
  </div>
